<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    />
    <title>Update Post</title>
  </head>
  <body>
    <nav>
      <div class="logo">
        <img src="/assets/anime.webp" alt="error" class="navImg" />
        <span class="galleryTitle">ANIME GALLERY</span>
      </div>
      <div class="links">
        <a href="http://localhost:8080/posts/new"><i class="fa-solid fa-circle-plus"></i> Create</a>
        <a href="http://localhost:8080/posts"><i class="fa-solid fa-house"></i> Home</a>
        <a href="#"><i class="fa-solid fa-circle-info"></i> Info</a>
      </div>
    </nav>
    <p>Update request for UserID : <%=post.id%></p>
    <div class="delete">
      <form method="post" action="/posts/<%=post.id%>?_method=delete">
        <button type="submit">Delete Post</button>
      </form>
    </div>

    <form action="/posts/update/<%=post.id%>?_method=patch" method="post">
      <div class="gallery">
        <h3 class="username">@<%=post.username%></h3>
        <label for="thaughts">Old Caption :</label>
        <textarea name="thaught" id="thaught" rows="5" cols="40" placeholder="#captions">
<%=post.thaught%></textarea
        >
        <br />
        <% for( let index = 0; index < post.image.length; index ++) { %> <% if
        (post.image[index]=="") { %> <% index -- %> <% } %>
        <span class="info">
          <img class="updated_img" src="<%=post.image[index]%>" alt="" />
          <label for="image">Anime Image/s :</label>
          <input type="url" name="image" id="image" value="<%=post.image[index]%>" size="100" />
        </span>
        <button type="button" class="remove_img">Delete Image</button>
        <div></div>
        <% } %>
        <br />
        <label for="image">Add more Image/s URL (If Available):</label>
        <input type="url" name="image" id="image" size="90" style="display: none" />
        <input type="url" name="image" id="image" size="90" />

        <a id="addButton">Add More Image</a>
        <div class="add_img"></div>
        <br />
        <br />
      </div>
      <button type="submit">SUBMIT</button>
    </form>
    <script src="/app.js"></script>
    <script>
      let btns = document.querySelectorAll('.remove_img');
      for (btn of btns) {
        btn.addEventListener('click', function delImg(event) {
          //console.dir(event.target);
          //console.log(event.target);
          //console.dir(event.target.previousElementSibling);
          event.target.previousElementSibling.remove();
          event.target.remove();
        });
      }
    </script>
  </body>
</html>
